//Colors

//background colors
$primary-background-color: linear-gradient(90deg, rgba(9,20,40,1) 0%, rgba(10,20,40,1) 100%);
$secondary-background-color: linear-gradient(90deg, rgba(120,90,40,1) 0%, rgba(200,155,60,1) 100%);
$tertiary-background-color: linear-gradient(90deg, rgba(0,90,130,1) 0%, rgba(10,200,185,1) 100%);

//header colors
$header-big: #ffffffff;

//text color
$text-one:#cdbe91;
//blue colors (timed info)
$blue-one:#CDFAFA;
$blue-two:#0AC8B9;
$blue-three:#0A1428;

//gold colors (key info)
$gold-one: #F0E6D2;
$gold-two: #C8AA6E;
$gold-three:#C89B3C;
$gold-four:#32281E;

//grey colors (text and bg)
$grey-one: #A09B8C;
$grey-two: #3C3C41;
$grey-three: #1E282D;

//Back colors
$black: #010A13;
$grey: #1e2328;
$gold: #433d2b;

//Fonts
$font-bold: 'BeaufortforLOL-Bold';
$font-medium: 'BeaufortforLOL-Medium';
$font-regular: 'spiegelregular';